## Characteristics of New Housing

This page provides national, annual data on the characteristics of new privately-owned residential structures, such as square footage, number of bedrooms and bathrooms, type of wall material, and sales prices. Many characteristics are available at the region level.  https://www.census.gov/construction/chars/

### Data Sources
- InputFiles : https://www.census.gov/construction/chars/microdata.html

### Changes
- 12-29-2018 : Started project


### Key Versions
pandas = '0.23.4'
numpy = '1.15.4'
requests = '2.19.1'

In [1]:
import pandas as pd
from pathlib import Path
from datetime import datetime
import zipfile
import requests
import io
import glob
import numpy as np
import feather

### File Locations

In [2]:
today = datetime.today()
in_file = Path.cwd() / "data" / "raw" / "FILE1"
in_directory = Path.cwd() / "data" / "raw"
summary_file = Path.cwd() / "data" / "processed" / f"summary_{today:%b-%d-%Y}.feather"

### Load Data from URL Sources

Main Page for where to manually download this files.
https://www.census.gov/construction/chars/microdata.html

In [3]:
file_names = ['soc17.zip','soc16.zip','soc15.zip','soc14.zip','soc13.zip',
              'soc12.zip','soc11.zip','soc10.zip','soc09.zip','soc08.zip',
              'soc07.zip','soc06.zip','soc05.zip','soc04.zip','soc03.zip',
              'soc02.zip','soc01.zip','soc00.zip','soc99.zip']

for file in file_names:
    fileName = 'soc17.zip'

    source_url = 'https://www.census.gov/construction/chars/xls/%s' % file

    in_file = Path.cwd() / "data" / "raw" / file.split('.')[0]
    r = requests.get(source_url)
    z = zipfile.ZipFile(io.BytesIO(r.content))
    z.extractall(in_file)
    del in_file

In [4]:
#Compliments: http://pbpython.com/excel-file-combine.html
all_data = pd.DataFrame()
for f in glob.glob("./data/raw/*/*.xls"):
    #print (f.split('/')[-2])
    df = pd.read_excel(f)
    df['FILENAME'] = f.split('/')[-2]
    all_data = all_data.append(df,ignore_index=True, sort=False)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [5]:
all_data.describe()

,ACS,AGER,ASSOC,BASE,CAT,CLOS,CON,DECK,DET,DIV,...,SLPR_F,FSLPR_F,CONPR_F,FCONPR_F,LOTV_F,SQFS_F,FSQFS_F,PVALU_F,AUTH,ID
count,301161.000000,180855.000000,180855.000000,301161.000000,301161.000000,301161.000000,301161.000000,301161.000000,301161.000000,301161.000000,...,301161.000000,180855.000000,301161.000000,180855.000000,301161.000000,301161.000000,180855.000000,180855.000000,301161.000000,23690.000000
mean,1.055562,1.955981,1.441824,2.170513,1.465147,0.290705,1.069471,1.651167,1.130219,5.547455,...,0.018395,0.008051,0.004147,0.000852,0.017203,0.016048,0.006950,0.023284,201001.413347,11845.500000
std,0.343233,0.242787,0.543178,0.955265,0.815327,0.678865,0.977609,0.561376,0.343334,2.284721,...,0.134377,0.089364,0.064266,0.029168,0.130080,0.125660,0.083079,0.150804,410.625328,6838.858275
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,200002.000000,1.000000
25%,1.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,200609.000000,5923.250000
50%,1.000000,2.000000,1.000000,3.000000,1.000000,0.000000,2.000000,2.000000,1.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,201002.000000,11845.500000
75%,1.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000,2.000000,1.000000,7.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,201404.000000,17767.750000
max,2.000000,2.000000,2.000000,4.000000,4.000000,2.000000,2.000000,2.000000,2.000000,9.000000,...,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,201803.000000,23690.000000

In [6]:
all_data.head()

,ACS,AGER,ASSOC,BASE,CAT,CLOS,CON,DECK,DET,DIV,...,FSLPR_F,CONPR_F,FCONPR_F,LOTV_F,SQFS_F,FSQFS_F,PVALU_F,AUTH,FILENAME,ID
0,1,2.0,2.0,1,1,0,0,1,2,1,...,0.0,0,0.0,0,0,0.0,0.0,201001,soc10,NaN
1,1,2.0,1.0,3,1,0,0,1,2,1,...,0.0,0,0.0,0,0,0.0,0.0,200910,soc10,NaN
2,1,2.0,2.0,1,1,0,2,2,1,1,...,0.0,0,0.0,0,0,0.0,0.0,200907,soc10,NaN
3,1,2.0,2.0,1,1,0,0,1,1,1,...,0.0,0,0.0,0,0,0.0,0.0,201012,soc10,NaN
4,1,2.0,1.0,1,1,0,1,1,2,1,...,0.0,0,0.0,0,0,0.0,0.0,200909,soc10,NaN

### Column Cleanup
- Rename the columns for consistency; they are all acronyms.

In [7]:
cols_to_rename = {'ACS': 'CentralAir',
                 'AGER': 'RestrictedAge',
                  'ASSOC': 'HomeOwnerAssociation',
                  'BASE': 'FoundationType',
                  'CAT': 'BuildReason',
                  'CLOS': 'ClosingCostsInc',
                  'CON': 'CondominiumProject',
                  'DECK': 'Deck',
                  'DET': 'HouseDesign',
                  'DIV': 'CensusDivision',
                  'FINC': 'FinancingType',
                  'FNBS': 'FinishedBasement',
                  'FOYER': 'TwoStoryFoyer',
                  'FRAME': 'FramingMaterial',
                  'GAR': 'Garage',
                  'HEAT': 'HeatingSystemPrimary',
                  'HEAT2': 'HeatingSystemSecondary',
                  'LNDR': 'LaundryLocation',
                  'METRO': 'InMetroArea',
                  'MFGS': 'ConstructionMethod',
                  'PATI': 'Patio',
                  'PRCH': 'Porch',
                  'SEWER': 'SewerType',
                  'STOR': 'Stories',
                  'WALS': 'ExteriorWallsGtrTwo',
                  'WAL1': 'ExteriorMaterialsPrimary',
                  'WAL2': 'ExteriorMaterialsSecondary',
                  'WATER': 'WaterSupply',
                  'AREA': 'LotSizeSQFT',
                  'BEDR': 'Bedrooms',
                  'COMP': 'CompletionDate',
                  'FNSQ': 'FinishedBasementSQFT',
                  'FFNSQ': 'FinishedBasementFinalSQFT',
                  'FPLS': 'Fireplaces',
                  'FULB': 'BathroomsFull',
                  'HAFB': 'BathroomsHalf',
                  'LOTV': 'LotValue',
                  'PVALU': 'PermitValue',
                  'SALE': 'SaleDate',
                  'FSQFS': 'FootageFinalSQFT',
                  'STRT': 'StartDate',
                  'CONPR': 'PriceContract',
                  'SLPR': 'PriceSales',
                  'SQFS': 'FootagePrelimSQFT',
                  'WEIGHT': 'SurveyWieght',
                  'FUEL': 'HeatingSystemFuelPrimary',
                  'FUEL2': 'HeatingSystemFuelSecondary',
                  'FCONPR': 'PriceContractAtCompletion',
                  'FSLPR': 'PriceSalesAtCompletion',

                  'AUTH': 'PermitAuthorizationDate',
                 }

drop_columns = [  'AREA_F',
                  'FNSQ_F',
                  'FFNSQ_F',
                  'SLPR_F',
                  'FSLPR_F',
                  'CONPR_F',
                  'FCONPR_F',
                  'LOTV_F',
                  'SQFS_F',
                  'FSQFS_F',
                  'PVALU_F',
                  'ID']
all_data.rename(columns=cols_to_rename, inplace=True)
all_data.drop(columns=drop_columns, axis=1, errors='ignore', inplace=True)

### Clean up each columns descriptions.

In [8]:
#Central Conditioning
# 1 = yes, 2=no, 0=unknown
all_data.loc[all_data['CentralAir']==1,'CentralAir']='Yes'
all_data.loc[all_data['CentralAir']==2,'CentralAir']='No'
all_data.loc[all_data['CentralAir']==0,'CentralAir']= np.nan
all_data['CentralAir'] = all_data['CentralAir'].astype('category')

all_data.CentralAir.value_counts(dropna=False)

Yes    264752
No      26571
NaN      9838
Name: CentralAir, dtype: int64

In [9]:
#Age Restrictions
#Will this house be in a development that is age‐ restricted?
#1 = Yes
#2 = No

#Age‐restricted developments are intended for occupancy by persons of a specific age group, 
#usually 55 and older or 62 and older.  Not applicable prior to 2009 files

column = 'RestrictedAge'

all_data.loc[all_data[column]==1,column]='Yes'
all_data.loc[all_data[column]==2,column]='No'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')
all_data[column].value_counts(dropna=False)

No     174419
NaN    121831
Yes      4911
Name: RestrictedAge, dtype: int64

In [10]:
#Community Association


column = 'HomeOwnerAssociation'

all_data.loc[all_data[column]==1,column]='Yes'
all_data.loc[all_data[column]==2,column]='No'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')
all_data[column].value_counts(dropna=False)

NaN    124685
Yes     92191
No      84285
Name: HomeOwnerAssociation, dtype: int64

In [11]:
#Foundation Type 
#“Other” includes raised supports, earthen, and other foundation 
#types.

column = 'FoundationType'

all_data.loc[all_data[column]==1,column]='Basement'
all_data.loc[all_data[column]==2,column]='Crawl Space'
all_data.loc[all_data[column]==3,column]='Slab'
all_data.loc[all_data[column]==4,column]='Other'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')
all_data[column].value_counts(dropna=False)

Slab           151869
Basement        98513
Crawl Space     42481
NaN              4650
Other            3648
Name: FoundationType, dtype: int64

In [12]:
#Catageroy Type: BuildReason 
#Beginning with the file for 2017, houses that are built 
#for rent will be included in the "1‐Built for Sale/Sold" 
#category rather than being shown separately.

column = 'BuildReason'

all_data.loc[all_data[column]==1,column]='SaleOrRent'
all_data.loc[all_data[column]==2,column]='Contractor'
all_data.loc[all_data[column]==3,column]='Owner'
all_data.loc[all_data[column]==4,column]='Rent'
all_data[column] = all_data[column].astype('category')
all_data[column].value_counts(dropna=False)

SaleOrRent    213281
Contractor     46109
Owner          31338
Rent           10433
Name: BuildReason, dtype: int64

In [13]:
#Condominium  
#Applies only to houses built for sale/sold.

column = 'CondominiumProject'

all_data.loc[all_data[column]==1,column]='Yes'
all_data.loc[all_data[column]==2,column]='No'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')
all_data[column].value_counts(dropna=False)

No     155100
NaN    134178
Yes     11883
Name: CondominiumProject, dtype: int64

In [14]:
#Deck
# 1 = yes, 2=no, 0=unknown

column = 'Deck'

all_data.loc[all_data[column]==1,column]='Yes'
all_data.loc[all_data[column]==2,column]='No'
all_data.loc[all_data[column]==0,column]= np.nan


all_data[column] = all_data[column].astype('category')

all_data.Deck.value_counts(dropna=False)

No     209356
Yes     78555
NaN     13250
Name: Deck, dtype: int64

In [15]:
#Design of House
#1 = Detached
#2 = Attached
#0 = Not reported

column = 'HouseDesign'

all_data.loc[all_data[column]==1,column]='Yes'
all_data.loc[all_data[column]==2,column]='No'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')


all_data[column].value_counts(dropna=False)

Yes    260554
No      39912
NaN       695
Name: HouseDesign, dtype: int64

In [16]:
#Division (Census)
#1 = New England
#2 = Middle Atlantic
#3 = East North Central 4 = West North Central 5 = South Atlantic
#6 = East South Central 7 = West South Central 8 = Mountain
#9 = Pacific

column = 'CensusDivision'

all_data.loc[all_data[column]==1,column]='New England'
all_data.loc[all_data[column]==2,column]='Middle Atlantic'
all_data.loc[all_data[column]==3,column]='East North Central'
all_data.loc[all_data[column]==4,column]='West North Central'
all_data.loc[all_data[column]==5,column]='South Atlantic'
all_data.loc[all_data[column]==6,column]='East South Central'
all_data.loc[all_data[column]==7,column]='West South Central'
all_data.loc[all_data[column]==8,column]='Mountain'
all_data.loc[all_data[column]==9,column]= 'Pacific'
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

South Atlantic        74954
West South Central    48558
Pacific               40046
East North Central    37441
Mountain              30719
Middle Atlantic       21068
West North Central    20252
East South Central    17249
New England           10874
Name: CensusDivision, dtype: int64

In [17]:
#Type of Financiing
#01 = Conventional 02 = FHA
#03 = VA
#04 = Cash
#05 = Other financing 00 = Not reported
#“Other” includes Rural Housing Service, cash, Habitat for Humanity, loan from an individual, 
#State or local government mortgage‐backed bonds and other types of financing.
#Applies only to houses sold, contractor‐built houses and owner‐built houses.

column = 'FinancingType'

all_data.loc[all_data[column]==1,column]='Conventional'
all_data.loc[all_data[column]==2,column]='FHA'
all_data.loc[all_data[column]==3,column]= 'VA'
all_data.loc[all_data[column]==4,column]= 'Cash'
all_data.loc[all_data[column]==5,column]= 'Other'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

Conventional    141253
NaN             107839
Cash             21350
FHA              17000
VA                7420
Other             6299
Name: FinancingType, dtype: int64

In [18]:
#Finished Basement 
#1 = Yes
#2 = No
#0 = Not reported
# Applies only to houses reporting a full or partial basement.
column = 'FinishedBasement'

all_data.loc[all_data[column]==1,column]='Yes'
all_data.loc[all_data[column]==2,column]='No'

#for those with basement foundations; determine if it wasn't reported
mapper = (all_data[column]==0) & (all_data['FoundationType']=='Basement')
all_data.loc[mapper,column]= np.nan
#else classify as No; i.e. they don't have a findished basement in 
#slab foundation homes.
mapper = (all_data[column]==0) & (all_data['FoundationType']!='Basement')
all_data.loc[mapper,column]= 'No'
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

No     273085
Yes     25950
NaN      2126
Name: FinishedBasement, dtype: int64

In [21]:
#Two Story Foyer
#1 = Yes
#2 = No
#0 = Not reported

column = 'HouseDesign'

all_data.loc[all_data[column]==1,column]='Yes'
all_data.loc[all_data[column]==2,column]='No'
all_data.loc[all_data[column]==0,column]= np.nan

all_data[column] = all_data[column].astype('category')
all_data[column].value_counts(dropna=False)

Yes    260554
No      39912
NaN       695
Name: HouseDesign, dtype: int64

In [23]:
#Frame Material
#1 = Wood
#2 = Steel
#3 = Concrete/masonry other than contret fomrs
#4 = insulated contrete forms (or SIP)
#0 = Not reported

column = 'FramingMaterial'

all_data.loc[all_data[column]==1,column]='Wood'
all_data.loc[all_data[column]==2,column]='Steel'
all_data.loc[all_data[column]==3,column]='ConcreteMasonry'
all_data.loc[all_data[column]==4,column]='InsulatedConcreteForm'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

Wood                     168748
NaN                      122367
ConcreteMasonry            8865
Steel                       807
InsulatedConcreteForm       374
Name: FramingMaterial, dtype: int64

In [24]:
#Parking
#1 = 1 car garage
#2 = 2 car garage
#3 = 3 or more car garage 4 = Other
#0 = Not reported

#“Other” includes carport, other off‐street parking (including a driveway with no garage 
#or carport), and other parking facilities.
column = 'Garage'

all_data.loc[all_data[column]==1,column]='1Car'
all_data.loc[all_data[column]==2,column]='2Car'
all_data.loc[all_data[column]==3,column]='3orMoreCar'
all_data.loc[all_data[column]==4,column]='Other'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

2Car          177107
3orMoreCar     65062
Other          30076
1Car           19415
NaN             9501
Name: Garage, dtype: int64

In [25]:
#Primary Heat
#01 = Air‐source or ground‐source heat pump 
#02 = Forced‐air furnace without heat pump 
#03 = Hot water or steam system
#04 = Other or no heat
#00 = Not reported

#“Other” includes electric baseboard or wall panels, fireplace with 
#insert, stove that burns coal or wood, non‐portable room heater that
#burns liquid fuel and is connected to a flue, vent, or chimney, 
#passive solar system, other heat sources, and no heat.


column = 'HeatingSystemPrimary'

all_data.loc[all_data[column]==1,column]='AirOrGroundHeatPump'
all_data.loc[all_data[column]==2,column]='ForcedAirNoHeatPump'
all_data.loc[all_data[column]==3,column]='HotWaterOrSteam'
all_data.loc[all_data[column]==4,column]='OtherOrNone'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

ForcedAirNoHeatPump    179068
AirOrGroundHeatPump     94891
NaN                     13744
OtherOrNone              6863
HotWaterOrSteam          6595
Name: HeatingSystemPrimary, dtype: int64

In [26]:
#Secondary Heat
#01 = Air‐source or ground‐source heat pump 
#02 = Forced‐air furnace without heat pump 
#03 = Hot water or steam system
#04 = Other 
#00 = Not reported OR No second heating

#“Other” includes electric baseboard or wall panels, fireplace with 
#insert, stove that burns coal or wood, non‐portable room heater that
#burns liquid fuel and is connected to a flue, vent, or chimney, 
#passive solar system, other heat sources, and no heat.


column = 'HeatingSystemSecondary'

all_data.loc[all_data[column]==1,column]='AirOrGroundHeatPump'
all_data.loc[all_data[column]==2,column]='ForcedAirNoHeatPump'
all_data.loc[all_data[column]==3,column]='HotWaterOrSteam'
all_data.loc[all_data[column]==4,column]='Other'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

NaN                    292366
Other                    5910
AirOrGroundHeatPump      1721
ForcedAirNoHeatPump       921
HotWaterOrSteam           243
Name: HeatingSystemSecondary, dtype: int64

In [27]:
#Laundry Location
#1 = In the basement
#2 = On the first floor
#3 = On the second or higher floor 4 = In the garage or carport
#5 = No connection planned
#6 = Multiple locations
#0 = Not reported


#“Other” includes electric baseboard or wall panels, fireplace with 
#insert, stove that burns coal or wood, non‐portable room heater that
#burns liquid fuel and is connected to a flue, vent, or chimney, 
#passive solar system, other heat sources, and no heat.


column = 'LaundryLocation'

all_data.loc[all_data[column]==1,column]='Basement'
all_data.loc[all_data[column]==2,column]='FirstFloor'
all_data.loc[all_data[column]==3,column]='SecondFloorOrHigher'
all_data.loc[all_data[column]==4,column]='Garage'
all_data.loc[all_data[column]==5,column]='NoConnection'
all_data.loc[all_data[column]==6,column]='MultipleLocations'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

NaN                    131960
FirstFloor             122844
SecondFloorOrHigher     36432
Basement                 6171
NoConnection             1547
Garage                   1275
MultipleLocations         932
Name: LaundryLocation, dtype: int64

In [28]:
#Metro Area
#1 = Located in Metro Area
#2 = Non in an Metro Area

column = 'InMetroArea'

all_data.loc[all_data[column]==1,column]='Yes'
all_data.loc[all_data[column]==2,column]='No'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

Yes    269161
No      32000
Name: InMetroArea, dtype: int64

In [29]:
#Construction Type 
#1 = Modular
#2 = Panelized / Precut 3 = Site‐built
#0 = Not reported

column = 'ConstructionMethod'

all_data.loc[all_data[column]==1,column]='Modular'
all_data.loc[all_data[column]==2,column]='Panelized'
all_data.loc[all_data[column]==3,column]='SiteBuilt'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

SiteBuilt    287443
Modular        6072
Panelized      5749
NaN            1897
Name: ConstructionMethod, dtype: int64

In [30]:
#Patio
#1 = Yes
#2 = No

column = 'Patio'

all_data.loc[all_data[column]==1,column]='Yes'
all_data.loc[all_data[column]==2,column]='No'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

No     143928
Yes    143199
NaN     14034
Name: Patio, dtype: int64

In [31]:
#Porch
#1 = Yes
#2 = No

column = 'Porch'

all_data.loc[all_data[column]==1,column]='Yes'
all_data.loc[all_data[column]==2,column]='No'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

Yes    179221
No     110640
NaN     11300
Name: Porch, dtype: int64

In [32]:
#Sewer Type 
#1 = Public Sewer
#2 = Septic 
#3 = Other

column = 'SewerType'

all_data.loc[all_data[column]==1,column]='PublicSewer'
all_data.loc[all_data[column]==2,column]='Septic'
all_data.loc[all_data[column]==3,column]='Other'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

PublicSewer    143184
NaN            124211
Septic          33473
Other             293
Name: SewerType, dtype: int64

In [33]:
#Stories  
#1 = 1 story
#2 = 2 stories (including 11⁄2 stories) 
#3 = 3 stories or more
#0 = Not reported

column = 'Stories'

all_data.loc[all_data[column]==1,column]=1
all_data.loc[all_data[column]==2,column]=2
all_data.loc[all_data[column]==3,column]=3
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

 2.0    170256
 1.0    120600
NaN       6675
 3.0      3630
Name: Stories, dtype: int64

In [34]:
#Primary Exterior Wall Materials 
#01 = Wood or wood products
#02 = Brick or brick veneer
#03 = Aluminum siding (not covered with vinyl) 
#04 = Stucco
#05 = Vinyl siding (inc. vinyl‐covered aluminum) 
#06 = Concrete block (not including stucco)
#07 = Stone, rock, or other stone materials
#08 = Fiber cement siding
#09 = Other
#00 = Not reported

#Beginning with the file for 2008, 
#Aluminum siding is also included with “09‐Other” 
#rather than being shown separately.

column = 'ExteriorMaterialsPrimary'

all_data.loc[all_data[column]==1,column]='Wood'
all_data.loc[all_data[column]==2,column]='Brick'
all_data.loc[all_data[column]==3,column]='Aluminum'
all_data.loc[all_data[column]==4,column]='Stucco'
all_data.loc[all_data[column]==5,column]='Vinyl'
all_data.loc[all_data[column]==6,column]='ConcreteBlock'
all_data.loc[all_data[column]==7,column]='Aluminum'
all_data.loc[all_data[column]==8,column]='FiberCement'
all_data.loc[all_data[column]==9,column]='Other'

all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

Vinyl            90495
Brick            63106
Stucco           61985
FiberCement      40465
Wood             21499
NaN              12722
Aluminum          5139
ConcreteBlock     3691
Other             2059
Name: ExteriorMaterialsPrimary, dtype: int64

In [35]:
#Secondary Exterior Wall Materials 
#01 = Wood or wood products
#02 = Brick or brick veneer
#03 = Aluminum siding (not covered with vinyl) 
#04 = Stucco
#05 = Vinyl siding (inc. vinyl‐covered aluminum) 
#06 = Concrete block (not including stucco)
#07 = Stone, rock, or other stone materials
#08 = Fiber cement siding
#09 = Other
#00 = Not reported

#In files for years prior to 2009, WAL2 is “10” for houses 
# with no secondary wall material (those with WALS=”2”). 
#Beginning with the file for 2009, houses with WALS=”2” have WAL2=”00”.

column = 'ExteriorMaterialsSecondary'

all_data.loc[all_data[column]==1,column]='Wood'
all_data.loc[all_data[column]==2,column]='Brick'
all_data.loc[all_data[column]==3,column]='Aluminum'
all_data.loc[all_data[column]==4,column]='Stucco'
all_data.loc[all_data[column]==5,column]='Vinyl'
all_data.loc[all_data[column]==6,column]='ConcreteBlock'
all_data.loc[all_data[column]==7,column]='Aluminum'
all_data.loc[all_data[column]==8,column]='FiberCement'
all_data.loc[all_data[column]==9,column]='Other'
all_data.loc[all_data[column]==10,column]=np.nan
all_data.loc[all_data[column]==0,column]= np.nan

all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

NaN              160532
Aluminum          55320
Brick             40318
FiberCement       17443
Vinyl             13036
Stucco             6924
Wood               6007
ConcreteBlock       923
Other               658
Name: ExteriorMaterialsSecondary, dtype: int64

In [36]:
#Secondary Walls?
#1 = Yes
#2 = No

column = 'ExteriorWallsGtrTwo'

all_data.loc[all_data[column]==1,column]='Yes'
all_data.loc[all_data[column]==2,column]='No'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

No     144508
Yes    140799
NaN     15854
Name: ExteriorWallsGtrTwo, dtype: int64

In [37]:
#Water Type  
#1 = Public water (inc. community or shared well) 
#2 = Individual well
#3 = Other
#0 = Not reported

column = 'WaterSupply'

all_data.loc[all_data[column]==1,column]='Public'
all_data.loc[all_data[column]==2,column]='Well'
all_data.loc[all_data[column]==3,column]='Other'
all_data.loc[all_data[column]=='',column]=np.nan

all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

Public    158021
NaN       124151
Well       18674
Other        315
Name: WaterSupply, dtype: int64

In [38]:
#Area
#For all houses, values less than 2,000 were changed to 2,000. 
#For houses built for sale/sold and houses built for rent, 
#all values greater than 87,120 were changed to 87,120. 
#For houses that are contractor‐built and owner‐built,
#all values greater than 435,600 were changed to 435,600.


column = 'LotSizeSQFT'

all_data.loc[all_data[column]==0,column]= np.nan

all_data[column].value_counts(dropna=False)

NaN          72428
 43560.0      7967
 435600.0     7834
 87120.0      7779
 21780.0      6110
 2000.0       5140
 8712.0       5037
 10890.0      4279
 13068.0      4126
 6000.0       3506
 10000.0      2979
 5000.0       2865
 5500.0       2520
 217800.0     2427
 7500.0       2417
 7200.0       2335
 6600.0       1864
 9000.0       1858
 7000.0       1848
 17424.0      1787
 14520.0      1746
 4356.0       1573
 8000.0       1443
 8400.0       1443
 130680.0     1316
 12000.0      1299
 8700.0       1281
 65340.0      1257
 7800.0       1239
 15000.0      1235
             ...
 40816.0         1
 11767.0         1
 15319.0         1
 10842.0         1
 11765.0         1
 21016.0         1
 9806.0          1
 7659.0          1
 28280.0         1
 3085.0          1
 6067.0          1
 40812.0         1
 13332.0         1
 23565.0         1
 21912.0         1
 124400.0        1
 21110.0         1
 20180.0         1
 23559.0         1
 68040.0         1
 39150.0         1
 4894.0          1
 9789.0          1
 6605.0          1
 47110.0         1
 39161.0         1
 61300.0         1
 17436.0         1
 30647.0         1
 16383.0         1
Name: LotSizeSQFT, Length: 18461, dtype: int64

In [39]:
#Bedrooms  
#1 = 1 story
#2 = 2 stories (including 11⁄2 stories) 
#3 = 3 stories or more
#0 = Not reported

column = 'Bedrooms'


all_data.loc[all_data[column]==0,column]= np.nan
all_data[column].value_counts(dropna=False)

 3.0    133624
 4.0     93658
 2.0     34249
 5.0     26722
NaN      12908
Name: Bedrooms, dtype: int64

In [40]:
#Completion Date
#0= Not Completed as of survey date.

column = 'CompletionDate'

all_data.loc[all_data[column]==0,column]= pd.NaT
all_data[column] = pd.to_datetime(all_data[column], format='%Y%m', errors='ignore')

In [41]:
#Final Square Foot Area of Finished Basement at Completion
#Applies only to houses with a full or partial finished basement 
#and reporting square foot areas of house (unchanged) and finished 
#basement. Values not allowed to exceed 50% or be less than 5% of #
#area of house. Values outside those limits changed to those limits.

column = 'FinishedBasementFinalSQFT'

#all_data.loc[all_data[column]==0,column]= np.nan

#all_data[column].value_counts(dropna=False)

In [42]:
#Fireplaces Walls?
#0= None
#1 = 1
#2 = 2 or more
#9 = not reported

column = 'Fireplaces'


all_data.loc[all_data[column]==9,column]= np.nan
all_data[column].value_counts(dropna=False)

 1.0    135516
 0.0    130155
 2.0     18736
NaN      16754
Name: Fireplaces, dtype: int64

In [43]:
#Full Bath
#1 = 1 bathroom or less
#2 = 2 bathrooms
#3 = 3 bathrooms
#4 = 4 bathrooms or more 9 = Not reported

column = 'BathroomsFull'


all_data.loc[all_data[column]==9,column]= np.nan
all_data[column].value_counts(dropna=False)

 2.0    181281
 3.0     67616
 4.0     23790
 1.0     15217
NaN      13257
Name: BathroomsFull, dtype: int64

In [44]:
#Half Bath
#0 = 0 half bathroom 
#1 = 1 half bathrooms
#2 =2 half bathrooms or more
#9 = Not reported

column = 'BathroomsHalf'


all_data.loc[all_data[column]==9,column]= np.nan
all_data[column].value_counts(dropna=False)

 1.0    142590
 0.0    137344
NaN      13541
 2.0      7686
Name: BathroomsHalf, dtype: int64

In [45]:
#Lot Value Bath
#0 = Not applicable or not reported.

column = 'LotValue'


all_data.loc[all_data[column]==0,column]= np.nan
#all_data[column].value_counts(dropna=False)

In [46]:
#Lot Value Bath
#0 = Not applicable or not reported.

column = 'PermitValue'


all_data.loc[all_data[column]==0,column]= np.nan
#all_data[column].value_counts(dropna=False)

In [47]:
#Sale Date
#0= Not Completed as of survey date.

column = 'SaleDate'

all_data.loc[all_data[column]==0,column]= pd.NaT
all_data[column] = pd.to_datetime(all_data[column], format='%Y%m', errors='ignore')

In [48]:
#Final Square Foot Area of House at Completion 
#

column = 'FootageFinalSQFT'


all_data.loc[all_data[column]==0,column]= np.nan
#all_data[column].value_counts(dropna=False)

In [49]:
#Start Date
#0= Not Completed as of survey date.

column = 'StartDate'

all_data.loc[all_data[column]==0,column]= pd.NaT
all_data[column] = pd.to_datetime(all_data[column], format='%Y%m', errors='ignore')

In [50]:
#Contract Price
#Applies only to contractor‐built houses. Within each division, 
#top 3% and bottom 1% of all reported values were changed to those 
#limits. 
#Unchanged values less than $15,000 were changed to $15,000.

column = 'PriceContract'


all_data.loc[all_data[column]==0,column]= np.nan
#all_data[column].value_counts(dropna=False)

In [51]:
#Sales Price
#Sales price at the time the first sales contract was signed or 
#deposit made; includes the price of the improved lot
#Applies only to houses sold. Within each division, top 3% and 
#bottom 1% of all reported values were changed to those limits. 
#Unchanged values less than $15,000 were changed to $15,000.

column = 'PriceSales'


all_data.loc[all_data[column]==0,column]= np.nan
#all_data[column].value_counts(dropna=False)

In [52]:
#Square Foot Area of House (Prelim)
#

column = 'FootagePrelimSQFT'


all_data.loc[all_data[column]==0,column]= np.nan
#all_data[column].value_counts(dropna=False)

In [53]:
#Weight
#Number of housing units represented by this sample case.

column = 'SurveyWieght'


all_data.loc[all_data[column]==0,column]= np.nan
#all_data[column].value_counts(dropna=False)

In [54]:
#Primary Space Heating Fuel 
#01 = Electricity
#02 = Nat Gas
#03 = Bottled or Liquified Gas (incl Propane)
#04 = Oil (heating/kerosene)
#05 = Other or no heat
#00 = Not reported

#“Other” includes wood, pellets, solar, coal, and other fuels.

#In the files for 2008 and 2009, Bottled gas is included
#with “02‐Natural gas” rather than being shown separately.
column = 'HeatingSystemFuelPrimary'

all_data.loc[all_data[column]==1,column]='Electricity'
all_data.loc[all_data[column]==2,column]='Nat Gas'
all_data.loc[all_data[column]==3,column]='BottledLiquid'
all_data.loc[all_data[column]==4,column]='Oil'
all_data.loc[all_data[column]==5,column]='OtherOrNone'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

Nat Gas          163625
Electricity      101503
NaN               15133
BottledLiquid     13500
OtherOrNone        3923
Oil                3477
Name: HeatingSystemFuelPrimary, dtype: int64

In [55]:
#Primary Space Heating Fuel 
#01 = Electricity
#02 = Nat Gas
#03 = Bottled or Liquified Gas (incl Propane)
#04 = Oil (heating/kerosene)
#05 = Other or no heat
#00 = Not reported

#“Other” includes wood, pellets, solar, coal, and other fuels.

#In the files for 2008 and 2009, Bottled gas is included
#with “02‐Natural gas” rather than being shown separately.
column = 'HeatingSystemFuelSecondary'

all_data.loc[all_data[column]==1,column]='Electricity'
all_data.loc[all_data[column]==2,column]='Nat Gas'
all_data.loc[all_data[column]==3,column]='BottledLiquid'
all_data.loc[all_data[column]==4,column]='Oil'
all_data.loc[all_data[column]==5,column]='OtherOrNone'
all_data.loc[all_data[column]==0,column]= np.nan
all_data[column] = all_data[column].astype('category')

all_data[column].value_counts(dropna=False)

NaN              292482
OtherOrNone        2554
Nat Gas            2412
Electricity        2242
BottledLiquid      1373
Oil                  98
Name: HeatingSystemFuelSecondary, dtype: int64

In [56]:
#Final Contract Price at Completion
#Final contract price reported at the time the house was completed; 
#whole dollars to nearest $100.
#0 = Not applicable or not reported

#Applies only to contractor‐built houses. Within each division, 
#top 3% and bottom 1% of all reported values were changed to those 
#limits. Unchanged values less than $15,000 were changed to $15,000.

column = 'PriceContractAtCompletion'


all_data.loc[all_data[column]==0,column]= np.nan
#all_data[column].value_counts(dropna=False)

In [57]:
#FFinal Sales Price at Completion
#Final sales price reported at the time the house was completed; 
#whole dollars to nearest $100.
#0 = Not applicable or not reported


column = 'PriceSalesAtCompletion'


all_data.loc[all_data[column]==0,column]= np.nan
#all_data[column].value_counts(dropna=False)

In [58]:
#Permit Authorization Date
#When was this house authorized by a building permit?
#Usually the month the building permit for the house was issued, 
#but can vary based on the availability of permits for sampling for 
#SOC. Set to the start date if the house is in an area where permits
#are not required or if the start date was before the issuance of 
#the final building permit.

column = 'PermitAuthorizationDate'

all_data.loc[all_data[column]==0,column]= pd.NaT
all_data[column] = pd.to_datetime(all_data[column], format='%Y%m', errors='ignore')
#all_data.loc[all_data[column]==0,column]= np.nan
#all_data[column].value_counts(dropna=False)

In [59]:
#File Name


column = 'FILENAME'

all_data[column] = all_data[column].astype('category')


#all_data.loc[all_data[column]==0,column]= np.nan
#all_data[column].value_counts(dropna=False)

### Check  Data Types
Most the data is catagory, number or datetime.  There should be no 
objects if we have done our job correctly!

In [60]:
all_data.dtypes == 'object'

CentralAir                    False
RestrictedAge                 False
HomeOwnerAssociation          False
FoundationType                False
BuildReason                   False
ClosingCostsInc               False
CondominiumProject            False
Deck                          False
HouseDesign                   False
CensusDivision                False
FinancingType                 False
FinishedBasement              False
TwoStoryFoyer                 False
FramingMaterial               False
Garage                        False
HeatingSystemPrimary          False
HeatingSystemSecondary        False
LaundryLocation               False
InMetroArea                   False
ConstructionMethod            False
Patio                         False
Porch                         False
SewerType                     False
Stories                       False
ExteriorMaterialsPrimary      False
ExteriorMaterialsSecondary    False
ExteriorWallsGtrTwo           False
WaterSupply                   False
LotSizeSQFT                   False
Bedrooms                      False
CompletionDate                False
FinishedBasementSQFT          False
FinishedBasementFinalSQFT     False
Fireplaces                    False
BathroomsFull                 False
BathroomsHalf                 False
LotValue                      False
PermitValue                   False
SaleDate                      False
FootageFinalSQFT              False
StartDate                     False
PriceContract                 False
PriceSales                    False
FootagePrelimSQFT             False
SurveyWieght                  False
HeatingSystemFuelPrimary      False
HeatingSystemFuelSecondary    False
PriceContractAtCompletion     False
PriceSalesAtCompletion        False
PermitAuthorizationDate       False
FILENAME                      False
dtype: bool

### Data Manipulation

In [61]:
#Could put in this section log transform of the larger values b
# but that would only be applicable to machine modeling if that is 
# what someone would like to do in the future.

### Save output file into processed directory

Save a file in the processed directory that is cleaned properly. It will be read in and used later for further analysis.

Other options besides pickle include:
- feather
- msgpack
- parquet

In [62]:
feather.write_dataframe(all_data, summary_file)
#df = feather.read_dataframe(path)