## Characteristics of New Housing

This page provides national, annual data on the characteristics of new privately-owned residential structures, such as square footage, number of bedrooms and bathrooms, type of wall material, and sales prices. Many characteristics are available at the region level.  https://www.census.gov/construction/chars/

### Data Sources
- file1 : Description of where this file came from

### Changes
- 12-29-2018 : Started project

In [18]:
import pandas as pd
from pathlib import Path
from datetime import datetime
import zipfile
import requests
import io
import glob
import numpy as np

### File Locations

In [3]:
today = datetime.today()
in_file = Path.cwd() / "data" / "raw" / "FILE1"
in_directory = Path.cwd() / "data" / "raw"
summary_file = Path.cwd() / "data" / "processed" / f"summary_{today:%b-%d-%Y}.pkl"

### Load Data from URL Sources

Main Page for where to manually download this files.
https://www.census.gov/construction/chars/microdata.html

In [4]:
file_names = ['soc17.zip','soc16.zip','soc15.zip','soc14.zip','soc13.zip',
              'soc12.zip','soc11.zip','soc10.zip','soc09.zip','soc08.zip',
              'soc07.zip','soc06.zip','soc05.zip','soc04.zip','soc03.zip',
              'soc02.zip','soc01.zip','soc00.zip','soc99.zip']

for file in file_names:
    fileName = 'soc17.zip'

    source_url = 'https://www.census.gov/construction/chars/xls/%s' % file

    in_file = Path.cwd() / "data" / "raw" / file.split('.')[0]
    r = requests.get(source_url)
    z = zipfile.ZipFile(io.BytesIO(r.content))
    z.extractall(in_file)
    del in_file

In [5]:
#Compliments: http://pbpython.com/excel-file-combine.html
all_data = pd.DataFrame()
for f in glob.glob("./data/raw/*/*.xls"):
    #print (f.split('/')[-2])
    df = pd.read_excel(f)
    df['FILENAME'] = f.split('/')[-2]
    all_data = all_data.append(df,ignore_index=True, sort=False)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [111]:
all_data.describe()

,ACS,AGER,ASSOC,BASE,CAT,CLOS,CON,DECK,DET,DIV,...,FSLPR,PVALU,SQFS,FSQFS,LOTV,FNSQ,FFNSQ,AREA,AUTH,ID
count,88727.000000,88727.000000,88727.000000,88727.000000,88727.000000,88727.0,88727.000000,88727.000000,88727.000000,88727.000000,...,8.872700e+04,8.872700e+04,88727.000000,54522.000000,88727.000000,88727.000000,88727.000000,88727.00000,88727.000000,23690.000000
mean,1.032403,1.958310,1.401389,2.184273,1.441850,0.0,1.098279,1.653544,1.115613,5.586496,...,9.207479e+04,2.164870e+05,2587.919111,2087.344485,17956.404477,99.821137,6.951244,31421.91058,201515.578291,11845.500000
std,0.318310,0.235261,0.557948,0.967597,0.787598,0.0,0.982427,0.568563,0.325180,2.274503,...,1.906694e+05,2.083114e+05,1306.470102,1505.783732,40312.673060,356.299658,96.217009,78991.57148,130.821321,6838.858275
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,1.000000,...,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,200806.000000,1.000000
25%,1.000000,2.000000,1.000000,1.000000,1.000000,0.0,0.000000,1.000000,1.000000,4.000000,...,0.000000e+00,1.000000e+05,1800.000000,1200.000000,0.000000,0.000000,0.000000,0.00000,201408.000000,5923.250000
50%,1.000000,2.000000,1.000000,3.000000,1.000000,0.0,2.000000,2.000000,1.000000,5.000000,...,0.000000e+00,1.898000e+05,2405.000000,2138.000000,0.000000,0.000000,0.000000,7810.00000,201509.000000,11845.500000
75%,1.000000,2.000000,2.000000,3.000000,2.000000,0.0,2.000000,2.000000,1.000000,7.000000,...,0.000000e+00,2.900000e+05,3228.000000,2999.000000,24600.000000,0.000000,0.000000,17100.00000,201609.000000,17767.750000
max,2.000000,2.000000,2.000000,4.000000,4.000000,0.0,2.000000,2.000000,2.000000,9.000000,...,2.060000e+06,3.060300e+06,8240.000000,7937.000000,733000.000000,3967.000000,3400.000000,435600.00000,201803.000000,23690.000000

In [113]:
all_data.head()

,ACS,AGER,ASSOC,BASE,CAT,CLOS,CON,DECK,DET,DIV,...,PVALU,SQFS,FSQFS,LOTV,FNSQ,FFNSQ,AREA,AUTH,ID,FileName
0,1,2,1,1,1,0,1,1,2,1,...,0,1700,1700.0,0,0,0,0,201501,1.0,soc17
1,1,2,2,1,1,0,0,2,2,1,...,175000,2600,0.0,0,0,0,0,201609,2.0,soc17
2,1,2,1,1,1,0,0,1,1,1,...,0,2100,0.0,0,0,0,0,201710,3.0,soc17
3,1,2,2,1,1,0,2,2,1,1,...,130000,1800,0.0,50000,0,0,21800,201603,6.0,soc17
4,1,2,2,1,1,0,2,1,1,1,...,80000,1500,1500.0,0,0,0,4400,201612,8.0,soc17

### Column Cleanup
- Rename the columns for consistency; they are all acronyms.

In [12]:
cols_to_rename = {'ACS': 'CentralAir',
                 'AGER': 'RestrictedAge',
                  'ASSOC': 'HomeOwnerAssociation',
                  'BASE': 'FoundationType',
                  'CAT': 'BuildReason',
                  'CLOS': 'ClosingCostsInc',
                  'CON': 'CondominiumProject',
                  'DECK': 'Deck',
                  'DET': 'HouseDesign',
                  'DIV': 'CensusDivision',
                  'FINC': 'FinancingType',
                  'FNBS': 'FinishedBasement',
                  'FOYER': 'TwoStoryFoyer',
                  'FRAME': 'FramingMaterial',
                  'GAR': 'Garage',
                  'HEAT': 'HeatingSystemPrimary',
                  'HEAT2': 'CensusDivisionSecondary',
                  'LNDR': 'LaundryLocation',
                  'METRO': 'InMetroArea',
                  'MFGS': 'ConstructionMethod',
                  'PATI': 'Patio',
                  'PRCH': 'Porch',
                  'SEWER': 'SewerType',
                  'STOR': 'Stories',
                  'WALS': 'WAL1-MERGE',
                  'WAL1': 'ExteriorMaterialsPrimary',
                  'WAL2': 'ExteriorMaterialsSecondary',
                  'WATER': 'WaterSupply',
                  'AREA': 'LotSizeSQFT',
                  'BEDR': 'Bedrooms',
                  'COMP': 'CompletionDate',
                  'FNSQ': 'FinishedBasementSQFT',
                  'FFNSQ': 'FinishedBasementFinalSQFT',
                  'FPLS': 'Fireplaces',
                  'FULB': 'BathroomsFull',
                  'HAFB': 'BathroomsHalf',
                  'LOTV': 'LotValue',
                  'PVALU': 'PermitValue',
                  'SALE': 'SaleDate',
                  'FSQFS': 'FootageFinalSQFT',
                  'STRT': 'StartDate',
                  'CONPR': 'PriceContract',
                  'SLPR': 'PriceSales',
                  'SQFS': 'FootagePrelimSQFT',
                  'WEIGHT': 'SurveyWieght',
                  'FUEL': 'HeatingSystemFuelPrimary',
                  'FUEL2': 'HeatingSystemFuelSecondary',
                  'FCONPR': 'PriceContractAtCompletion',
                  'FSLPR': 'PriceSalesAtCompletion',

                  'AREA_F': 'LotSizeChange',
                  'FNSQ_F': 'FinishedBasementChange',
                  'FFNSQ_F': 'FootageChange',
                  'SLPR_F': 'PriceSalesChange',
                  'FSLPR_F': 'PriceSalesFinalChange',
                  'CONPR_F': 'ContractChange',
                  'FCONPR_F': 'PriceContractFinalChange',
                  'LOTV_F': 'LotSizeChange',
                  'SQFS_F': 'FootageChange',
                  'FSQFS_F': 'FootageFinalChange',
                  'PVALU_F': 'PermitValueChange',
                  'AUTH': 'PermitAuthorizationDate',
                 }
all_data.rename(columns=cols_to_rename, inplace=True)

### Clean up each columns descriptions.

In [22]:
#Central Conditioning
# 1 = yes, 2=no, 0=unknown
all_data.loc[all_data['CentralAir']==1,'CentralAir']='Yes'
all_data.loc[all_data['CentralAir']==2,'CentralAir']='No'
all_data.loc[all_data['CentralAir']==0,'CentralAir']= np.nan

all_data.CentralAir.value_counts(dropna=False)

Yes    264752
No      26571
NaN      9838
Name: CentralAir, dtype: int64

### Clean Up Data Types
Most the data is typed as Integers; this process maps proper naming from the schema document hosted at https://www.census.gov/construction/chars/pdf/socmicro_info.pdf or located in the docs folder of the project.

In [114]:
all_data.dtypes

ACS           int64
AGER          int64
ASSOC         int64
BASE          int64
CAT           int64
CLOS          int64
CON           int64
DECK          int64
DET           int64
DIV           int64
FINC          int64
FNBS          int64
FOYER       float64
FRAME         int64
GAR           int64
HEAT          int64
HEAT2         int64
LNDR          int64
METRO         int64
MFGS        float64
PATI          int64
PRCH          int64
SEWER         int64
STOR          int64
WAL1          int64
WAL2          int64
WALS          int64
WATER         int64
AREA          int64
BEDR          int64
             ...
FFNSQ         int64
FPLS          int64
FULB          int64
HAFB          int64
LOTV          int64
PVALU         int64
SALE          int64
FSQFS       float64
STRT          int64
CONPR         int64
SLPR          int64
SQFS          int64
WEIGHT        int64
FUEL          int64
FUEL2         int64
FCONPR        int64
FSLPR         int64
AREA_F        int64
FNSQ_F        int64
FFNSQ_F       int64
SLPR_F        int64
FSLPR_F       int64
CONPR_F       int64
FCONPR_F      int64
LOTV_F        int64
SQFS_F        int64
FSQFS_F       int64
PVALU_F       int64
AUTH          int64
FileName     object
Length: 62, dtype: object

### Data Manipulation

### Save output file into processed directory

Save a file in the processed directory that is cleaned properly. It will be read in and used later for further analysis.

Other options besides pickle include:
- feather
- msgpack
- parquet

In [ ]:
df.to_pickle(summary_file)