## Characteristics of New Housing

This page provides national, annual data on the characteristics of new privately-owned residential structures, such as square footage, number of bedrooms and bathrooms, type of wall material, and sales prices. Many characteristics are available at the region level.  https://www.census.gov/construction/chars/

This notebook contains basic statistical analysis and visualization of the data.

### Data Sources
- summary : Processed file from notebook 1-Data_Prep

### Changes
- 12-29-2018 : Started project

In [2]:
import pandas as pd
from pathlib import Path
from datetime import datetime
#import seaborn as sns
import feather

### File Locations

In [4]:
today = datetime.today()
in_file = Path.cwd() / "data" / "processed" / f"summary_{today:%b-%d-%Y}.feather"
report_dir = Path.cwd() / "reports"
report_file = report_dir / "Excel_Analysis_{today:%b-%d-%Y}.xlsx"

In [8]:
df = feather.read_dataframe(in_file)
df.head()

,CentralAir,RestrictedAge,HomeOwnerAssociation,FoundationType,BuildReason,ClosingCostsInc,CondominiumProject,Deck,HouseDesign,CensusDivision,...,PriceContract,PriceSales,FootagePrelimSQFT,SurveyWieght,HeatingSystemFuelPrimary,HeatingSystemFuelSecondary,PriceContractAtCompletion,PriceSalesAtCompletion,PermitAuthorizationDate,FILENAME
0,Yes,No,No,Basement,SaleOrRent,0,NaN,Yes,No,New England,...,NaN,NaN,NaN,51.0,Electricity,NaN,NaN,NaN,2010-01-01,soc10
1,Yes,No,Yes,Slab,SaleOrRent,0,NaN,Yes,No,New England,...,NaN,NaN,1879.0,31.0,Nat Gas,NaN,NaN,NaN,2009-10-01,soc10
2,Yes,No,No,Basement,SaleOrRent,0,No,No,Yes,New England,...,NaN,NaN,5076.0,31.0,Nat Gas,NaN,NaN,NaN,2009-07-01,soc10
3,Yes,No,No,Basement,SaleOrRent,0,NaN,Yes,Yes,New England,...,NaN,NaN,3717.0,24.0,Electricity,OtherOrNone,NaN,NaN,2010-12-01,soc10
4,Yes,No,Yes,Basement,SaleOrRent,0,Yes,Yes,No,New England,...,NaN,289900.0,1335.0,31.0,Nat Gas,NaN,NaN,NaN,2009-09-01,soc10

### Perform Data Analysis

### Save Excel file into reports directory

Save an Excel file with intermediate results into the report directory

In [ ]:
writer = pd.ExcelWriter(report_file, engine='xlsxwriter')

In [ ]:
df.to_excel(writer, sheet_name='Report')

In [ ]:
writer.save()